@import url(https://db.onlinewebfonts.com/c/01173b246d9d9ea808ea75a26b3b61bb?family=Circular+Spotify+Tx+T+Black);

@font-face {
  font-family: "Circular Spotify Tx T Black";
  src: url("https://db.onlinewebfonts.com/t/01173b246d9d9ea808ea75a26b3b61bb.eot");
  src: url("https://db.onlinewebfonts.com/t/01173b246d9d9ea808ea75a26b3b61bb.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/01173b246d9d9ea808ea75a26b3b61bb.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/01173b246d9d9ea808ea75a26b3b61bb.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/01173b246d9d9ea808ea75a26b3b61bb.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/01173b246d9d9ea808ea75a26b3b61bb.svg#Circular Spotify Tx T Black")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

/* whole(共通) */
body,
header,
main,
footer {
  z-index: 2;
}

body {
  margin: 0;
  color: #191414;
  font-family: "Circular Spotify Tx T Black";
}

ul {
  list-style: none;
  padding-inline-start: 1rem;
}

h1,
h2,
h3,
p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* header */
header {
  background-color: rgba(0, 0, 0);
}

.header-inner {
  max-width: 750px;
  height: 3.4rem;
  padding-left: 0.7rem;
  padding-right: 0.55rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  height: 29px;
  padding-left: 0.25rem;
}

svg.spoti-logo {
  fill: #fff;
  width: 89px;
  height: 1.8rem;
}

.header-btn {
  padding-top: 0px;
  height: 20px;
  z-index: 5;
}

/* 大画面用header-nav */
.header-nav {
  display: none;
  color: #fff;
  width: 480px;
}

.nav-lists {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
}

.nav-lists > li:nth-child(5),
.nav-lists > li:nth-child(6) {
  color: rgb(217, 218, 220);
}

.mobile-menu-icon {
  /* buttonの初期スタイルを無効化 */
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.mobile-menu-icon > span {
  background-color: #fff;
  width: 1.38rem;
  height: 3px;
  border-radius: 25px;
  /* spanはinline要素なのでwidthとheightを指定するためには
  display: block;とする必要がある */
  display: block;
  margin-bottom: 4px;
  transition: transform 0.3s;
}

/* last-childで最後のbarのみmargin-bottomを0にする */
.mobile-menu-icon > span:last-child {
  margin-bottom: 0;
}

/* ハンバーガーメニューが押された時のCSS設定を記述 */
.menu-open {
  background-color: rgb(0, 0, 0, 0.4);
}

/* margin-bottom: 4px; + spanのheight: 2px = 6pxずらす必要がある */

.mobile-menu-icon.menu-open > span {
  background-color: #fff;
  transition: transform 0.3s;
}

.mobile-menu-icon.menu-open > span:first-child {
  transform: translateY(7px) rotate(-45deg);
}

.mobile-menu-icon.menu-open > span:nth-child(2) {
  transform: scaleX(0);
}

.mobile-menu-icon.menu-open > span:last-child {
  transform: translateY(-7px) rotate(45deg);
}

/* main */
main {
  background: url(images/bursts-tablet.svg) rgb(41, 64, 171);
  background-repeat: no-repeat;
  background-size: 150%;
  background-position: center;
}

.main-container {
  text-align: center;
  color: #1ed760;
  height: 100vh;
  position: relative;
}

.additional-darkcover {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(11, 16, 43, 0.9);
  z-index: 4;
  transition: all 0.3s ease;
}

.cover-dark {
  position: fixed;
  background-color: rgba(0, 0, 0);
  width: 100%;
  max-width: 450px;
  height: 100%;
  transform: translateX(450px);
  transition: all 0.3s cubic-bezier(0.92, 0, 0.1, 0.99);
  opacity: 0;
  visibility: hidden;
  animation-timing-function: ease-in-out;
  animation-duration: 3s;
}

.cover-dark.nom {
  visibility: visible;
  transform: none;
}

.cover-dark-container {
  color: #fff;
  text-align: left;
  padding-left: 2rem;
  height: 100%;
  position: relative;
}

.cover-dark-container > h2:hover,
.cover-dark-container > h3:hover,
.nav-lists > li > a:hover {
  color: #1ed760;
  transition: color 0.1s ease;
}

/* .cover-dark-container > h2.slideIn, */
.cover-dark-container > h3.slideIn {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

#interBar {
  margin: 1.4rem 0;
}

.cover-dark-container > h2 {
  font-size: 2rem;
  margin-bottom: 0.6rem;
}

.cover-dark-container > h2:first-child {
  margin-top: 2rem;
}

.cover-dark-container > h3:nth-child(1) {
  margin-top: 3rem;
}

.cover-lg {
  position: absolute;
  left: 2rem;
  bottom: 4.5rem;
}

.slideIn {
  opacity: 1;
  animation-name: cm-cover-slideIn;
  animation-duration: 0.8s;
  animation-timing-function: cubic-bezier(0.92, -0.33, 0.68, 0.96);
  animation-fill-mode: both;
}

.slideIn:first-child {
  animation-delay: -0.4s;
}
.slideIn:nth-child(2) {
  animation-delay: -0.38s;
}
.slideIn:nth-child(3) {
  animation-delay: -0.36s;
}
.slideIn:nth-child(4) {
  animation-delay: -0.34s;
}
.slideIn:nth-child(5) {
  animation-delay: -0.329s;
}
.slideIn:nth-child(6) {
  animation-delay: -0.32s;
}
.slideIn:last-child {
  animation-delay: -0.3s;
}

.nom {
  z-index: 5;
  opacity: 1;
  visibility: visible;
}

@keyframes cv-slide-inout {
  60% {
    transform: translateX(50%);
  }
  80% {
    transform: translateX(25%);
  }
  100% {
    transform: translateX(0);
  }
}

/* カバーメニュー用アニメーション */
@keyframes cm-cover-slideIn {
  0% {
    opacity: 0;
    transform: translateX(5rem);
  }
  98% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 1;
  }
}

/* テストここまで */

.titles {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 315px;
}

.main-title {
  margin-bottom: 1em;
}

.main-title > h1 {
  font-weight: 500;
  font-size: 3rem;
  line-height: 1.15;
  letter-spacing: -3px;
  white-space: nowrap;
}

.explain {
  margin-bottom: 2rem;
  overflow-wrap: normal;
  width: 100%;
}

.explain > p {
  font-weight: lighter;
  line-height: 24px;
  font-size: 0.9em;
  letter-spacing: 0.03em;
  white-space: normal;
  overflow-wrap: normal;
}

#getBtn {
  border-radius: 25px;
  color: rgb(41, 64, 171);
  background-color: rgba(30, 215, 96, 0.95);
  padding: 0.9rem 2rem;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  /* インライン要素に対してtransformは効かない */
  display: inline-block;
  transform: none;
}

/* Btn hover時のCSS */
#getBtn:hover {
  transform: scale(1.05);
  background-color: rgba(30, 215, 96, 1);
}

/* footer */
footer {
  background-color: rgb(0, 0, 0);
}

.footer-logo,
.footer-secondLogo {
  padding: 3rem 1rem;
  padding-bottom: 1rem;
}

.footer-secondLogo {
  display: none;
}

.footer-lists {
  display: flex;
  /* 要素を縦並びにする場合はflex-direction: column; */
  flex-direction: column;
  justify-content: space-around;
  /* align-items: ; */
  color: #fff;
}

.footer-lists > ul {
  margin: 2rem 0;
}

.footer-lists > ul > li {
  padding-bottom: 1.5rem;
}

.list-t {
  color: rgb(145, 148, 150);
  font-size: 0.8rem;
  letter-spacing: 0.05rem;
  /* padding-bottom: 1rem; */
}

.icons > ul {
  margin: 2rem 0;
}

.icons > ul > li {
  display: inline-block;
  background-color: rgb(34, 35, 38);
  color: #fff;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  padding: 0.65rem;
  margin-right: 0.6rem;
}

.icons > ul > li > img {
  background-color: #fff;
}

.policies {
  color: rgb(145, 148, 150);
  display: flex;
  justify-content: space-between;
}

.policies > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 50%;
  line-height: 2rem;
  margin-block-start: 0;
}

.policies > ul > li {
  font-size: 0.2rem;
  margin-right: 1.5rem;
}

.copyright > p {
  font-size: 0.2rem;
  line-height: 2rem;
}

.usa,
.copyright {
  /* margin: 0 auto; */
  text-align: right;
  padding-right: 1rem;
}

.usa > p {
  color: rgb(145, 148, 150);
  font-size: 0.2em;
}

/* レスポンシブ @mediaクエリの設定 */

@media (min-width: 451px) {
  .cover-dark {
    right: 0%;
  }
}

/* iPad用 */
@media (min-width: 480px) {
  .header-inner {
    padding-left: 0.7rem;
    padding-right: 0.57rem;
  }

  .titles {
    width: 480px;
    max-width: 480px;
  }

  .explain {
    width: 90%;
    margin: 0 auto 2.5em auto;
  }

  .explain > p {
    font-size: 1rem;
  }

  .cover-dark-container {
    padding-top: 1rem;
  }

  .cover-dark-container > h2 {
    font-size: 2.2rem;
  }

  .cover-dark-container > h2:first-child {
    margin-top: 1rem;
  }

  .cover-dark-container > h3 {
    font-size: 1.7rem;
    margin: 0;
    margin-bottom: 1rem;
  }

  .cover-lg {
    height: 1.9rem;
  }

  .nom-second {
    visibility: visible;
    opacity: 1;
  }

  .main-title {
    margin-bottom: 1.5em;
  }

  .main-title > h1 {
    font-size: 6.45em;
    /* letter-spacing:文字間隔を詰める; */
    letter-spacing: -6px;
    line-height: 1;
  }
}

/* footerの表示切替 */
@media (min-width: 768px) {
  .footer-container {
    max-width: 768px;
    width: 100%;
  }

  .footer-logo {
    padding-left: 1.6rem;
  }

  .footer-lists {
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 0;
    margin-right: auto;
    padding-left: 0.7rem;
    color: #fff;
  }

  .footer-lists > ul > li {
    line-height: 1.2rem;
  }

  .icons > ul {
    padding-inline-start: 1.5rem;
    margin-top: 4rem;
    margin-bottom: 1rem;
  }

  .policies > ul {
    width: 55%;
    line-height: 2.5rem;
    padding-inline-start: 1.5rem;
  }

  .policies > ul > li {
    font-size: 0.7rem;
  }

  .copyright > p {
    font-size: 0.7rem;
  }
}

/* iPad pro用 */
@media (min-width: 992px) {
  .header-inner {
    max-width: 947px;
    height: 5rem;
    padding-left: 1.35rem;
    padding-right: 1.6rem;
  }

  .header-logo {
    height: 2.5rem;
  }

  /* headerとfooterのSpotifyロゴの大きさを変更する */
  svg.spoti-logo {
    width: 130px;
    height: 6rem;
  }

  .header-btn {
    display: none;
  }

  .header-nav {
    display: block;
  }

  .main-title {
    margin-bottom: 1.3em;
  }

  .explain > p {
    font-size: 1rem;
  }

  /* footer max-width変更 */
  .footer-container {
    max-width: 992px;
    width: 100%;
  }

  /* footerのレイアウト変更 */
  .wide-footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 4rem 1rem;
  }

  .footer-logo {
    display: none;
  }

  .footer-secondLogo {
    display: block;
    padding-top: 0.5rem;
  }

  .footer-lists {
    display: flex;
    /* 要素を縦並びにする場合はflex-direction: column; */
    flex-direction: row;
    justify-content: flex-start;
    flex: 6.5;
    color: #fff;
    padding-left: 0;
  }

  .footer-lists > ul {
    flex: 0.3;
  }

  .icons {
    flex: 2.5;
    text-align: right;
  }

  .icons > ul > li {
    padding: 1rem;
  }

  .icons > ul > li:nth-child(1) {
    margin-right: 0.9rem;
  }

  .icons > ul > li:nth-child(2) {
    margin-right: 0.9rem;
  }

  .usa > p {
    font-size: 0.8rem;
  }

  .usa > p,
  .policies {
    padding-right: 0.5rem;
  }

  .policies > ul {
    width: 70%;
    margin-bottom: 3.5rem;
  }
}

/* title表示変更など */
@media (min-width: 1200px) {
  .header-inner {
    max-width: 1200px;
  }

  .titles {
    width: 100%;
    max-width: 1000px;
  }

  .main-title {
    text-align: left;
    margin-bottom: 3rem;
  }

  .main-title > h1 {
    font-size: 10rem;
    letter-spacing: -9px;
  }

  .main-title > h1:last-child {
    text-align-last: right;
  }

  /* footer修正 */
  .footer-container {
    max-width: 1200px;
    width: 100%;
  }

  .footer-secondLogo {
    padding-top: 0.8rem;
    flex: 0.7;
  }

  .footer-lists {
    flex: 5.5;
  }

  .footer-lists > ul {
    width: 50%;
    flex: 0.8;
    padding-left: 0;
  }
}
